/* * {
    background-color: white;
    box-sizing: border-box;
} */

header{
    height: 50px;
    background-color: grey;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.company-font {
    font-size: 25px;
}

.black-container {
    width: 100%;
    height: 250px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-top: 90px;
    color: yellow;
    font-size: 80px;
}

.top-box-container {
    width: 100%;
    height: 225px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.green-box {
    width: 250px;
    height: 250px;
    background-color: rgb(121, 245, 197);
    border-radius: 5%;
    margin-top: 50px;
}

.orange-box-container {
    height: 225px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.orange-box {
    width: 495px;
    height: 250px;
    background-color: rgb(253, 198, 94);
    margin-top: 125px;
}

.bottom-box {
    height: 250px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

.p-box {
    width: 495px;
    height: 250px;
    
}

.image-container {
    height: 250px;
    
}



footer {
    width: 100%;
    height: 150px;
    background-color: rgb(85, 63, 119);
}